/* ==========================================================================
   Header
   ========================================================================== */

.header {
  align-items: center;
  background-color: $color-brand;
  display: flex;
  height: 100px;
  justify-content: center;
}
